.navbar {
    padding: 20px;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    z-index: 1500;

}

.navbar > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar > div > h1 {
    flex-grow: 1;
}

.nav-link {
    margin: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}